$colour-1: #f87070;
$colour-2: #70f3f8;
$colour-3: #d881f8;
$colour-4: #d7e0ff;
$colour-5: #1e213f;
$colour-6: #ffffff;
$colour-7: #eff1fa;
$colour-8: #161932;
$font-1: "Kumbh Sans", sans-serif;
$font-2: "Roboto Slab", serif;
$font-3: "Space Mono", monospace;

body {
  background-color: $colour-5;
}

header {
  font-family: $font-1;
  display: block;
  font-size: 28px;
  text-align: center;
  color: $colour-7;
}

.timer-switch {
  display: block;
  text-align: center;
  color: $colour-7;
  font-family: $font-1;
  font-weight: 700;
  font-size: 14px;
  background-color: $colour-8;
  width: 400px;
  margin: auto;
  padding-top: 32px;
  padding-bottom: 32px;
  border-radius: 50px;
}
